/* Creates a heading with a shadow */
h1 {
    color: red;
    text-shadow: 20px 20px blue;
    padding: 20px;
    margin: 50px;
    text-align: center;
    border: solid black;
    background-color: black;
}

/* Creates a hypertext link with interactive effect */
a:hover {
    font-size: 40px;
    color: green;
    text-decoration: wavy;
    text-transform: capitalize;
}
a:active {
    color: yellow;
} 

a:visited {
    text-decoration: none; 
    color: gray;
} 

/* Styles the link */
 a {
    border: dashed 3px red;
    border-radius: 10px;
    padding: 20px; 
    display: block;
    width: 100px;
    text-align: center;
    margin: auto;
    background-color: pink;
 } 


/* Creates a hovering effect on the title */
/* It didn't work :( */
h1:hover {
    font-weight: bold;
}
