main {
    background-color: rgb(202, 198, 198);
    border-radius: 10px;
}


/* Creates a heading with a shadow */
h1 {
    color: red;
    text-shadow: 20px 20px blue;
    padding: 20px;
    margin: 50px;
    text-align: center;
    border: solid black;
    border-radius: 20px;
    background-color: black;
}


/* Styles the link */
a {
    border: dashed 3px red;
    border-radius: 10px;
    padding: 20px; 
    display: block;
    width: 100px;
    text-align: center;
    margin: auto;
    background-color: pink;
} 

/* Creates a hypertext link with interactive effect */
a:visited {
    text-decoration: none; 
    color: gray;
} 

a:hover {
    font-size: 40px;
    color: green;
    text-decoration: wavy;
    text-transform: capitalize;
}

a:active {
    color: yellow;
} 


/* Creates a hovering effect on the title */
h1:hover {
    font-weight: bold;
    background-color: gray;
    color: pink;
    text-shadow: rgb(73, 176, 245);
}

table, th, td  {
    border: 2px dotted rgb(218, 4, 238);
    margin: auto;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgb(255, 251, 32);
}

tr:nth-child(6) {
    background-color: blue;
    color: white;
}

ul {
    list-style: square ;
    color: red;
}

ol {
    color: green;
    text-transform: capitalize;
    list-style-type : upper-alpha
}

.spaced {
    padding-left: 10px;
}

.moving {
    transform: translate(px);
}