{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}Nos Recettes
{% endblock %}

{% block body %}
	<h2>Our Recipes :</h2>
	<ul>
	{% for recipe in recipes %}
		<li><a href={{path('recipes.show', {id: recipe.id, slug: recipe.slug})}}>{{recipe.title}}</a></li>
	{% endfor %}
	</ul>
{% endblock %}
