{% extends "base.html.twig" %}

{% block title %}All my Recipes
{% endblock %}

{% block body %}
	<h1>Cuisinons Ensemble !</h1>
	<ul>
		{% for recipe in recipes %}
			<li>
				<a href={{path('recipe_show', {id: recipe.id, slug: recipe.slug} )}}>{{recipe.title}}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
